<section class="container">
  <header class="page__search-container">
    <div class="search-container__bar">
      <input type="search" placeholder="Search for a place in the Universe">
    </div>
  </header>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4">
      <div class="page__portal">
        <img src="assets/images/portal.webp">
        <div class="portal__preview"
             [style.background-image]="'url(https://vignette.wikia.nocookie.net/rickandmorty/images/9/9b/Citadelofricksunderrepair.png)'"
        >
        </div>
      </div>

    </div>
  </div>
</section>
