<section class="container">
  <header class="page__search-container">
    <div class="search-container__bar">
      <input type="search"
             placeholder="Search for a place in the Universe"
             (keyup)="$searchInputValue.next($event.target.value)"
             (change)="$searchInputValue.next($event.target.value)"
      >
    </div>
  </header>

  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4"
         *ngFor="let location of locationList"
    >
      <div class="page__location-card">
        <div class="page__portal">
          <img src="assets/images/portal.webp">
          <div class="portal__preview"
               [style.background-image]="'url(https://vignette.wikia.nocookie.net/rickandmorty/images/9/9b/Citadelofricksunderrepair.png)'"
          >
          </div>
        </div>
        <h1>{{ location.name }}</h1>
        <div class="d-flex justify-content-between">
          Type: <span>{{ location.type }}</span>
        </div>
        <div class="d-flex justify-content-between">
          Dimension: <span>{{ location.dimension }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
